node_modules
bower_components
images
image
.tmp
tmp
*node_modules
*.jpg
*.jpeg
*.png
*.gif
.env
sftp-config.json
spider/bqg_spider/url_data
spider/bqg_spider/craw.log
spider/sftp-config.json
