doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        if title
            title= title
        else
            title blog
        block css
            link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/style.css')
            
        block javascript
            script(src='/vendor/jquery.js')

body
    block content


    #mocha
    link(rel='stylesheet', href='/vendor/mocha.css')
    script(src="/vendor/mocha.js")
    script(src="/vendor/chai.js")
    script.
        mocha.ui('tdd');
        var assert = chai.assert;

    script(src="/qa/tests-global.js")

    if pageTestScript
        script(src="#{pageTestScript}")

    script.
        mocha.run();