<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">小小相册</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">相册首页</a></li>
          <li><a href="#">上传</a></li>
        </ul>
      </div>

    </div>

  </nav>
  <div class="container"> 
    <div class="row"> 
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
    </div>

    </div>
  </div>
</body>

</html>
